*~
build
PETITE.egg-info
*.pyc
.DS_Store
.vscode/settings.json
.DS_Store
.gitignore
.ipynb_checkpoints/Untitled-checkpoint.ipynb
exploring_PETITE.py
tests/.ipynb_checkpoints/*
paddy_test/
data/beams/Pi0_120GeVProtons_1e5POT.npy
utilities/macpro_integrators_lightmass.py
lightmasses_fine*
TODO*
examples/.ipynb_checkpoints/*
examples/beams/*400GeVProtons*.npy
data_v3/*
data_v2f/*
data_v2/*