*~
build
PETITE.egg-info
*.pyc
.DS_Store
NBP/.DS_Store
AllParticles_GeVShower_Graphite.npy
NBP/lead/PairProdXSec.npy
NBP/lead/PairProdEvts.npy
NBP/lead/ComptonXSec.npy
NBP/lead/ComptonEvts.npy
NBP/lead/BremXSec.npy
NBP/lead/BremEvts.npy
NBP/lead/AnnihilationXSec.npy
NBP/lead/AnnihilationEvts.npy
AllParticles_SingleShower_GeV_Graphite.npy
AllParticles_GeVShower_Lead.npy
AllParticles_SingleShower_GeV_Lead.npy
examples/Outputs/*
NBP/electrons/DarkV/AnnihilationEvts_100MeV.npy
NBP/electrons/DarkV/AnnihilationXSec_100MeV.npy
NBP/electrons/DarkV/ComptonEvts_100MeV.npy
NBP/electrons/DarkV/ComptonXSec_100MeV.npy
NBP/graphite/DarkV/DarkBremEvts_100MeV.npy
NBP/graphite/DarkV/DarkBremXSec_100MeV.npy
examples/.ipynb_checkpoints/PETITEShower-checkpoint.ipynb
